@import "src/assets/style/variables";
@import "src/assets/style/mixin";

.L-featured-title {
  margin-top: 50px;
  justify-content: space-between;
  align-items: center;
  .L-featured-title-link{
    .L-create-product-link{
      margin: 10px 0;
      button{
        width: 165px;
        height: 40px;
      }
    }
  }

  h6 {
    color: $grey-base;
    font-size: $font-size-28;
  }

  .L-featured-line {
    @include screen-max-width-576{
      display: none;
    }
    width: 65%;
    border-bottom: 1px dashed;
  }
}

.L-featured-product {
  margin-top: 50px;
  justify-content: space-between;
  @include  screen-max-width-1024{
    justify-content: center;
  }

  .L-featured-item {
    box-shadow: 4px 5px 18px -13px rgba(34, 60, 80, 0.07);
    background-color: $white;
    width: 25%;
    height: 370px;
    margin: 20px 10px;
    position: relative;
    .L-delete-product{
      display: block;
      position: absolute;
      top: 0%;
      z-index: 55;
      background-color: transparent;
      color: $red-dark;
      font-size: 25px;
      right: 0%;
    }
    @include screen-max-width-991 {
    width: 33.33%;
    }
    @include screen-max-width-991 {
    width: 45%;
    }
    @include screen-max-width-767 {
    width: 60%;
    }
    @include screen-max-width-576 {
    width: 90%;
    }

    &:hover {
      overflow: hidden;

      .L-featured-item-wrapper {
        .L-featured-overlay {
          display: block;
        }

        .L-featured-image {
          transition: 0.5s;
          transform: scale(1.5, 1.5);


        }

      }

    }

    .L-featured-item-wrapper {
      width: 100%;
      height: 70%;
      position: relative;
      overflow: hidden;

      .L-featured-overlay {

        z-index: 4;
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0%;
        left: 0%;

        background-color: rgba(255, 255, 255, 0.37);

        .L-featured-overlay-icons {
          justify-content: center;
          align-items: center;
          height: 100%;

          span {
            display: block;
            padding: 10px;
            border: 1.5px solid $grey-base;
            margin: 0 4px;
            cursor: pointer;

            &:hover {
              transition: 0.3s;
              background-color: $grey-base;
              color: $yellow;
            }
          }
        }
      }

      .L-featured-image {
        margin: 0 auto;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        @include screen-max-width-991 {
          width: 60%;
        }
      }
    }

    .L-featured-desc {
      z-index: 10;
      width: 100%;
      height: 30%;

      h6 {
        text-align: center;
        margin: 15px 0;
        color: $grey-base;
        font-size: $font-size-18;
      }

      p {
        text-align: center;
        color: $grey-base;
        font-weight: bold;
        font-size: $font-size-18;

        sup {
          margin: 0 5px;
          font-size: $font-size-14;
          color: #626a72;
          text-decoration: line-through;
        }
      }
      .L-featured-star{
        margin: 10px 0;
        text-align: center;
        div{
          span{
            margin: 0 5px;
            color: $yellow;
          }
        }
      }
    }

  }
}